 /*  CSS Reset*/
   * {
      vertical-align: baseline;
      font-weight: inherit;
      font-family: Arial, Helvetica, sans-serif;
      font-style: inherit;
      font-size: 100%;
      border: 0 none;
      outline: 0;
      padding: 0;
      margin: 0;
   }
   
   #wrapper{
      width: 970px;
      background-color: white;
      margin: 0px auto;
      padding: 20px;
   }
   #header{
      height: 130px;
      background-color: white;
      margin-bottom: 10px;
   }
   .globe {
      width: 100px;
      margin-top: 1px;
      margin-left: 10px;
      position: absolute;
   }
   .pagetitle {
      display: inline-block;
      font-size: 30pt;
      vertical-align: top;
      margin-top: 30px;
      margin-left: 115px;
   }
   .pagetitle2 {
      font-size: 22pt;
      color: white;
      vertical-align: top;
      background: linear-gradient(#00689b, #4785AA, #00689b);
      display: block;
      padding: 15px 25px;
   }
   #leftbar{
      width: 200px;
      background-color: white;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      margin-right: 40px;
      margin-top: 15px;
   }
   .lefttext1 {
      font-weight: bold;
      margin-bottom: 10px;
      text-align: left;
   }
   .lefttext2 {
      font-size: 10pt;
      font-weight: bold;
      margin-bottom: 10px;
      text-align: left;
   }
   .adcopy {
      background-color: transparent;
      height: 300px;
      width: 200px;
      vertical-align: center;
      background-image: url('ad_background.png');
      background-size: contain;
      text-align: center;
      margin-top: 30px;
      padding-top: 1px;
   }
   .adwords {
      font-size: 18pt;
      color: white;
      margin: 20px auto 8px auto;
      text-align: center;
   }
   .ninja {
      width: 80px;
      vertical-align: center;
      margin: 0 auto 15px auto;
   }
   #main_content{
      width: 725px;
      background-color: red;
      display: inline-block;
   }
   .subcontents{
      width: 725px;
      background-color: white;
      margin-bottom: 10px;
      list-style-position: outside;
      font-size: 10pt;
   }
   .subcontents ul li {
      margin-left: 40px;
   }
   .subcontents ol li {
      margin-left: 40px;
   }
   .chaptertitle {
      font-size: 14pt;
      font-weight: bold;
      margin-bottom: 5px;
   }
   .csphoto {
      width: 250px;
      vertical-align: center;
      display: block;
      margin: 15px auto 15px auto;
   }
   .bluebox{
      width: 715px;
      border-top: 5px solid #0089db;
      border-right: 5px solid #0089db;
      border-left: 5px solid #0089db;
      background-color: white;
      margin-top: 15px;
      font-size: 10pt;
   }
   .htmlphoto {
      width: 110px;
      margin: 10px 0px 0px 10px;
      vertical-align: center;
   }
   .endtext {
      margin-left: 10px;
      display: inline;
   }
   .textblue {
      color: #00679B;
   }
   .textsky {
      color: #0098AD;  
   }
   .textred {
      color: red;  
   }
   button {
      display: inline-block;
      margin: 0 auto 10px auto;
      border-radius: 8px;
      color: white;
      padding: 6px 20px;
      font-style: normal;
      font-size: 11pt;
      box-shadow: 3px 3px 5px black;
      vertical-align: center;
   }
   .buttona {
      background: linear-gradient(#579AC1, #00679B);
   }
   .buttonb {
      background: linear-gradient(#F1AB61, #F96F0B);
   }
   .buttonc {
      background: linear-gradient(#69D1DE, #00C2DC);
   }
   .line {
      margin: 20px auto;
      border-top: 1px solid black;
   }
